body {
    background: linear-gradient(to bottom right, #BC3131, #B5324D, #AC3370, #A5338C, #9E34A9);
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: rgba(255,255,255,0.8);
    padding: 20px;
    /* height: 100%; */
}

.pageHeader {
    font-weight: lighter;
    text-align: center;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

#score{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
    font-family: 'Orbitron', sans-serif;
}

#counter{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
    font-family: 'Orbitron', sans-serif;
}

.card{
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 30px;
    list-style: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    /* border: 1px solid rgba(255,255,255,0.1); */
    backdrop-filter: blur(30px);
    font-weight: lighter;
    font-size: 25px;
    font-weight: lighter;
    height: auto;
    width: 50rem;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

.learnMore{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

.card-image{
    width: 35%;
    height: auto;
    border-radius: 10px;
}

.randomCountry {
    font-weight: lighter;
    font-size: 25px;
    font-weight: lighter;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

#countryGuessInput{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 24px 32px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

#submitButton{
    padding: 24px 32px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

.clearButton{
    padding: 24px 32px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

#correct-incorrect {
    display: block;
    font-weight: lighter;
    font-size: 25px;
    font-weight: lighter;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

#randomCountryButton {
    margin-top: 10px;
    padding: 24px 32px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

#reloadButton{
    margin-top: 10px;
    padding: 24px 32px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.flex-container{
    display: flex;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    text-shadow: 0 8px 17px rgba(0,0,0,0.8);
}